CREATE ROLE ${N8N_DB_USER} WITH LOGIN PASSWORD '${N8N_DB_PASSWORD}';
CREATE ROLE ${APP_DB_USER} WITH LOGIN PASSWORD '${APP_DB_PASSWORD}';
CREATE ROLE ${PGVECTOR_DB_USER} WITH LOGIN PASSWORD '${PGVECTOR_DB_PASSWORD}';
CREATE DATABASE n8n OWNER ${N8N_DB_USER};
CREATE DATABASE db OWNER ${APP_DB_USER};
CREATE DATABASE pgvector OWNER ${PGVECTOR_DB_USER};
\connect pgvector;
CREATE EXTENSION IF NOT EXISTS vector;
